{% extends 'account/mypage.html' %}

{% load static from staticfiles %}
{% load extras %}

{% block content %}
<div class="super_container">
	<br><br><br>
   <div class="course">
		<div class="container">
			<div class="row">

				<div class="col-lg-8">
					<div class="course_container">
						<div class="course_title">{{smjer_ime}}</div>
							<div class="tab_panel active">
								<div class="tab_panel_content">
									<div class="tab_panel_title">Semestri</div>
									<div class="tab_panel_content">
										<!-- Dropdowns semestri -->

                                       {% for i in 7|times %}
                                          <ul class="dropdowns">
                                               <li class="has_children">
                                                   <div class="dropdown_item">

													   <div class="dropdown_item_title">
														   {% if i == 6  %}
														   		<span>Izborni predmeti</span>
														   {% else %}
														   		<span>{{i | add}}. semestar</span>
														   {% endif %}

													   </div>
                                                   </div>
												   {% for kolegij in kolegiji %}
												   		{% check_sem i as sem_num %}
														{% if kolegij.semestar == sem_num %}
															<ul>
															   <li>
																   <div class="dropdown_item">
																	   <div class="dropdown_item_title">

																		   	<span>
																				<a href="/studij/studijski_programi/studij={{kolegij.studij_id}}/smjer={{kolegij.smjer_id}}/semestar={{i | add}}/kolegij={{kolegij.kolegij_id}}">{{kolegij.kolegij_ime}}</a>
																			</span>

																	   </div>
																   </div>
															   </li>
														   </ul>
												   		{% endif %}
												   {% endfor %}
                                               </li>
                                           </ul>
                                       {% endfor %}

									</div>
								</div>
							</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>

				</div>
			</div>
		</div>
</div>

<script src="{% static 'js/course.js' %}"></script>

</body>
</html>
{% endblock %}