{% extends 'account/mypage.html' %}
{% load static from staticfiles %}
{% load extras %}

{% block content %}

<div class="super_container">
    <br><br><br>
    <div class="course">
		<div class="container">
			<div class="row">

				<!-- Course -->
				<div class="col-lg-8">

					<div class="course_container" id="container-1">

                        <div class="course_title">{{kolegij_id}}</div>&nbsp; &nbsp;
                         <form method="post">
                            {% csrf_token %}
                            {% if moj_kolegij %}
                            <button type="submit" name="favorit"  class="btn btn-primary" style="background-color: #14bdee; border-color: #14bdee">Izbrisi iz mojih kolegija</button>
                            {% else %}
                            <button type="submit" name="favorit"  class="btn btn-primary" style="background-color: #14bdee; border-color: #14bdee">Dodaj u moje kolegije</button>
                            {% endif %}
                        </form>



						<!-- Course Tabs -->
						<div class="course_tabs_container">
							<div class="tabs d-flex flex-row align-items-center justify-content-start">
								<div class="tab" id="div1">Opis kolegija</div>
								<div class="tab active" id="div2on">Materijali</div>
							</div>

							<div class="tab_panels">

								<!-- Description -->
								<div class="tab_panel tab_panel_2" id="fragment1">
									<div class="tab_panel_title">Software Training</div>
									<div class="tab_panel_content">
										<div class="tab_panel_text">
											<p>Lorem Ipsn gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auci elit consequat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosquad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Lorem Ipsn gravida nibh vel velit auctor aliquet. Class aptent taciti sociosquad litora torquent per conubia nostra, per inceptos himenaeos.</p>
										</div>
										<div class="tab_panel_section">
											<div class="tab_panel_subtitle">Requirements</div>
											<ul class="tab_panel_bullets">
												<li>Lorem Ipsn gravida nibh vel velit auctor aliquet. Class aptent taciti sociosquad litora torquent.</li>
												<li>Cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a.</li>
												<li>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat.</li>
												<li>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</li>
											</ul>
										</div>
										<div class="tab_panel_section">
											<div class="tab_panel_subtitle">What is the target audience?</div>
											<div class="tab_panel_text">
												<p>This course is intended for anyone interested in learning to master his or her own body.This course is aimed at beginners, so no previous experience with hand balancing skillts is necessary Aenean viverra tincidunt nibh, in imperdiet nunc. Suspendisse eu ante pretium, consectetur leo at, congue quam. Nullam hendrerit porta ante vitae tristique. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
											</div>
										</div>
										<div class="tab_panel_faq">
											<div class="tab_panel_title">FAQ</div>

											<!-- Accordions -->
											<div class="accordions">

												<div class="elements_accordions">

													<div class="accordion_container">
														<div class="accordion d-flex flex-row align-items-center"><div>Can I just enroll in a single course?</div></div>
														<div class="accordion_panel">
															<p>Lorem ipsun gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auci elit consequat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a.</p>
														</div>
													</div>

													<div class="accordion_container">
														<div class="accordion d-flex flex-row align-items-center active"><div>I'm not interested in the entire Specialization?</div></div>
														<div class="accordion_panel">
															<p>Lorem ipsun gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auci elit consequat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a.</p>
														</div>
													</div>

													<div class="accordion_container">
														<div class="accordion d-flex flex-row align-items-center"><div>What is the refund policy?</div></div>
														<div class="accordion_panel">
															<p>Lorem ipsun gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auci elit consequat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a.</p>
														</div>
													</div>

													<div class="accordion_container">
														<div class="accordion d-flex flex-row align-items-center"><div>What background knowledge is necessary?</div></div>
														<div class="accordion_panel">
															<p>Lorem ipsun gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auci elit consequat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a.</p>
														</div>
													</div>

													<div class="accordion_container">
														<div class="accordion d-flex flex-row align-items-center"><div>Do i need to take the courses in a specific order?</div></div>
														<div class="accordion_panel">
															<p>Lorem ipsun gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auci elit consequat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a.</p>
														</div>
													</div>

												</div>

											</div>
										</div>
									</div>
								</div>

								<!-- Materijali -->
								<div class="tab_panel active" id="fragment2">
									<div class="tab_panel_content">
										<div class="tab_panel_title">Dodaj novu temu</div>
										<div class="tab_panel_content">
											<div class="tab_panel_text">
												<form method="post">
                                                    {% csrf_token %}
													<div class="form-inline">
                                                    	<input type="text" name="tema_ime" maxlength="50" required="" id="id_tema_ime" class="form-control float-left" style="width: 250px">&nbsp;&nbsp;
                                                    	<button type="submit"  name="dodaj_temu" class="btn btn-primary" style="background-color: #14bdee; border-color: #14bdee">Dodaj</button>
                                                	</div>
												</form>
											</div>

											<!-- Popis svih trenutnih tema -->
                                            {% for tema in items %}
                                            <div class="dropdown_item">
                                                <div class="dropdown_item_title">
                                                    <a href="/objava/studij={{studij_id}}/smjer={{smjer_id}}/semestar={{semestar_num}}/kolegij={{kolegij_id}}/tema={{tema.tema_id}}"><span>{{tema.tema_ime}}</span></a>
                                            	<div class="dropdown_item_text">
                                                    <!--<p>Lorem Ipsn gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auci elit consequat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus.</p>-->
													<p style=" width: 450px; white-space: nowrap;overflow: hidden; text-overflow: ellipsis; color: #000000;">
														<i>{{tema.getlastpost}}</i>
													</p>
												</div>

											</div>
                                            {% endfor %}
										</div>
									</div>
									{% include "paginacija.html" %}
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="{% static 'js/course.js' %}"></script>
<script src="{% static 'js/our_custom.js' %}"></script>
</body>
</html>
{% endblock %}