{% extends 'index.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/style_login.css' %}">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<br><br><br><br>
<div class="container login-container">
    <div class="row justify-content-center">
        <div class="justify-content-center login-form-1">
            <div class="alert alert-info" role="alert">
                <center>
                    {% if status == 1 %}
                    <strong style="font-size: 24px">Uspješna registracija!</strong><br><br>
                    Za nastavak korištenja potvrdi svoj @riteh mail
                    {% elif status == 2 %}
                    <strong style="font-size: 24px">Uspješna potvrda!</strong><br><br>
                    Sada se možete <a href="{% url 'account:login' %}">prijaviti</a>
                    {% elif status == 3 %}
                    Za postavljanje nove lozinke provjeri svoj @riteh mail
                    {% elif status == 4 %}
                    Nevažeći link, pokušajte se ponovno registrirati ili kontaktirajte admine!
                    {% endif %}

                </center>
            </div>
        </div>
    </div>
</div>
{% endblock %}