{% extends 'account/mypage.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'styles/style_login.css' %}">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="container login-container">

<div class="login-form-1">
    <h3>Tvoj profil</h3>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="float-sm-left">
            <img src="{{ user.student.profile_image.url }}" width="240" class="rounded-circle"><br>
            <label for="id_profile_image" class="btn btn-default"></label>
            <input type="file" class="form-control-sm" name="profile_image" id="id_profile_image">
        </div>

        <div class="row">
            <div class="float-sm-right">

                <div class="form-group">
                    <label for="id_username">Korisničko ime:</label>
                    <input type="text" name="username" maxlength="150" class="form-control" required="" value="{{user.username}}" id="id_username">
                </div>

                <div class="form-group">
                    <label for="id_first_name">Ime:</label>
                    <input type="text" name="first_name" maxlength="30" class="form-control" value="{{user.first_name}}" id="id_first_name">
                </div>

                <div class="form-group">
                    <label for="id_last_name">Prezime:</label>
                    <input type="text" name="last_name" maxlength="150" class="form-control" value="{{user.last_name}}" id="id_last_name">
                </div>


                Studij
                <div class="form-group">
                    {{student_form.studij}}
                </div>

                <div class="form-group">
                    <a href="{% url 'account:change_password' %}" class="ForgetPwd">Promijeni lozinku</a>
                </div>

                <button type="submit" class="btnSubmit" style="width: 100px; height: 50px">Spremi </button>

            </div>
        </div>
    </form>
</div>

{% endblock %}