{% extends 'index.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/style_login.css' %}">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<br><br><br><br>

<div class="container login-container">
            <div class="row">
                <div class="col-md-6 login-form-1">
                    <form action="{% url 'account:login' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control" name="username" id="id_username" maxlength="150" placeholder="Korisničko ime">
                        </div>

                        <div class="form-group">
                            <input type="email" class="form-control" name="email" maxlength="150" id="id_email" placeholder="@riteh mail">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" name="ime" maxlength="30" id="id_ime" placeholder="Ime">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" name="prezime" maxlength="30" id="id_prezime" placeholder="Prezime">
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control" name="password1"  id="id_password1" placeholder="Lozinka">
                        </div>

                        <div class="form-group">
                            {{student_form.studij_id}}
                        </div>

                        <div class="form-group">
                            <input type="submit" class="btnSubmit" value="Registriraj se" />
                        </div>

                        <div class="form-group">
                            <a href="{% url 'account:login' %}" class="ForgetPwd">Imaš već račun? Prijavi se!</a>
                        </div>
                    </form>
                    <h3>Registriraj se</h3>
                </div>
            </div>
        </div>
{% endblock %}
