{% extends 'account/mypage.html' %}
{% load static from staticfiles %}
{% load extras %}

{% block content %}
<meta name="description" content="Unicat project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap4/bootstrap.min.css' %}">
<link href="{% static 'plugins/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'plugins/colorbox/colorbox.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{% static 'styles/blog_single.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/blog_single_responsive.css' %}">

<div class="super_container">
	<div class="blog">
		<div class="container">
			<div class="row">
				<!-- Blog Content -->
				<div class="col-lg-8">
                    <div class="blog_content">
                        <!-- Comments -->
                        <div class="comments_container">
                            <div class="comments_title"><span>{{kolegij_id}}</span></div><br><br>
                            <ul class="comments_list">
                                {% define as prethodna_objava %}
                                {% for obj in items %}
                                    {% csrf_token %}
                                    <li>
                                        <!--USER INFO-->
                                        <div class="comment_item d-flex flex-row align-items-start jutify-content-start border">
                                            {% if prethodna_objava != obj.objava_id %}
                                                <div class="comment_image"><div><img src="{{ user.student.profile_image.url}}" alt=""></div></div>
                                            {% endif %}
                                            <div class="comment_content">
                                                {% if prethodna_objava != obj.objava_id %}
                                                <div class="comment_title_container d-flex flex-row align-items-center justify-content-start">
                                                    <div class="comment_author"><a href="#">{{obj.username}}
                                                      {% for i in student.stars|times %}
                                                        <i class="fa fa-star" aria-hidden="true" style="font-size:18px;color:rgba(94.90196078431372%,100%,0%,0.953)"></i>
                                                      {% endfor %}
                                                    </a></div>
                                                    <div class="comment_time ml-auto">{{obj.date}}</div>
                                                </div>

                                                <div class="comment_text">
                                                        <p>{{obj.tekst}}</p>
                                                 </div>
                                                {% endif %}
                                                 <!--FILES   -->
                                                 <div class=" justify-content-center align-items-center">
                                                      {% for f in obj.getfiles %}
                                                         {% check_image f.attachment as flag %}
                                                         {% if flag %}
                                                            <a href="{{f.attachment.url}}" download><img src="{{ f.attachment.url}}" width="240"></a>
                                                            {% else %}
                                                             <a href="{{f.attachment.url}}" download>{{ f.attachment | split_name}}</a>
                                                             <br><br>
                                                        {% endif %}
                                                       {% endfor %}

                                                 </div>
                                                <!--LIKES-->
                                                {% if prethodna_objava != obj.objava_id %}
                                                     <form id="like_dislike{{obj.objava_id}}" action="{% url 'objava:like' %}" method="post">
                                                         {% csrf_token %}
                                                         <input type="hidden" value="{{ user.username }}" name="html_user">
                                                         <input type="hidden" value="{{ obj.objava_id }}" name="html_objava">
                                                          <div class="comment_extras d-flex flex-row align-items-center justify-content-start">
                                                            {% if obj.objava_id not in user_likes %}
                                                              <input type="hidden" value="html_like" name="html_like">
                                                              <div class="comment_extra comment_likes"><a><i class="fa fa-heart-o" style="font-size:22px;color:#e60e08" onclick="document.forms['like_dislike{{obj.objava_id}}'].submit()"></i><span>{{ obj.getlikes }}</span></a></div>
                                                            {% else %}
                                                                <input type="hidden" value="html_dislike" name="html_like">
                                                              <div class="comment_extra comment_likes"><a><i class="fa fa-heart" style="font-size:22px;color:#e60e08" onclick="document.forms['like_dislike{{obj.objava_id}}'].submit()"></i><span>{{ obj.getlikes }}</span></a></div>
                                                            {% endif %}
                                                         <input type="hidden" value="{{ studij_id }}" name="get_studij_id">
                                                         <input type="hidden" value="{{ kolegij_id }}" name="get_kolegij_id">
                                                         <input type="hidden" value="{{ semestar_num }}" name="get_semestar_num">
                                                         <input type="hidden" value="{{ tema_id }}" name="get_tema_id">
                                                     </form>
                                                    <div class="comment_extra comment_reply"><a href="#id_tekst" onclick="copyText('{{user.username}}', '{{obj.tekst}}', '{{obj.date}}')"><i class="fa fa-reply" style="font-size:22px;color:#e60e08" aria-hidden="true"></i>&nbsp;Odgovori</a></div>
                                                </div>
                                            {% endif %}
                                            </div>

                                    </li>
                                    {% change obj.objava_id as prethodna_objava %}
                                {% endfor %}
                            </ul>
                            <br><br>
                            <!--PAGINACIJA-->
                            {% if items.has_other_pages %}
                                <div class="col-6 offset-3 text-center pagination-set"
                                    <nav aria-label="">
                                        <ul class="pagination">
                                            {% if items.has_previous %}
                                                <li class="page-item">
                                                    <a href="?page={{items.previous_page_number}}" class="page-link"><<</a>
                                                </li>
                                            {% else %}
                                                <li class="page-item disabled">
                                                    <a class="page-link"><span><<</span></a>
                                                </li>
                                            {% endif %}

                                            {% for i in page_range %}
                                                {% if items.number == i %}
                                                    <li class="page-item active">
                                                        <a href="#" class="page-link">{{i}}<span class="sr-only">(current)</span></a>
                                                    </li>
                                                {% else %}
                                                    <li class="page-item">
                                                        <a href="?page={{i}}" class="page-link">{{i}}</a>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                            {% if items.has_next %}
                                                    <li class="page-item">
                                                        <a href="?page={{items.next_page_number}}" class="page-link" aria-label="Next">>></a>
                                                    </li>
                                            {% else %}
                                                    <li class="page-item disabled">
                                                        <a href="" class="page-link"><span>>></span></a>
                                                    </li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                </div>
                            {% endif %}
                            <div class="add_comment_container">
                                <form method="post" enctype="multipart/form-data" class="comment_form">
                                    {% csrf_token %}
                                    <div class="justify-content-center input_col">
                                        <div>
                                            <div class="form_title">Komentiraj</div>
                                            <label for="id_tekst"></label>
                                            <textarea name="tekst" required="" id="id_tekst" class="comment_input comment_textarea"></textarea>
                                        </div>
                                    </div>

                                    <div>
                                        <label for="id_attachment">Attachment:</label>
                                        <input type="file" name="attachment" multiple="" id="id_attachment">
                                    </div>

                                    <div>
                                        <button type="submit" class="comment_button trans_200">Objavi</button>
                                    </div>
                                </form>
                            </div>
                        </div>
				    </div>
			    </div>
		    </div>
	</div>
</div>

<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'styles/bootstrap4/popper.js' %}"></script>
<script src="{% static 'styles/bootstrap4/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/easing/easing.js' %}"></script>
<script src="{% static 'plugins/parallax-js-master/parallax.min.js' %}"></script>
<script src="{% static 'plugins/colorbox/jquery.colorbox-min.js' %}"></script>
<script src="{% static 'js/blog_single.js' %}"></script>
<script src="{% static 'js/our_custom.js' %}"></script>
</body>
</html>
{% endblock %}